@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Projeto Final do Curso de C#</p>

<address>
    <strong>More Information: </strong> <a href="https://github.com/wallaceAnterio"> Aprendendo C#-Asp-Net-Core</a>
</address>
